
    .features {
        background: #005a71;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
        padding: 40px 0;
      }
      
      .feature {
        text-align: center;
        flex: 0 0 calc(33.33% - 20px); 
        margin: 10px; 
      }
      
      .feature img {
        max-width: 30%;
        height: auto;
        margin-bottom: 10px;
      }