<div>
    <select class="form-control bg-light bg-gradient" (change)="filtrarPorCategoria()" [(ngModel)]="selectedCategory">
        <option value="">Filtrar</option>
        <option value="a">Todos</option>
        <option value="Tecnología">Tecnologia</option>
        <option value="Agropecuario">Agropecuario</option>
        <option value="Comercio">Comercio</option>
        <option value="Sustentabilidad">Sustentabilidad</option>
        <option value="Turismo">Turismo</option>
        <option value="Autoempléate">Autoempléate</option>
        <option value="Cultura cívica">Cultura cívica</option>
    </select>
</div>

