<nav class="navbar fixed-top shadow-lg bg-secondary bg-gradient navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://capacitateparaelempleo.org/assets/images/Logo_Capacitate_White.png" width="250"></a>     
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" style="color: #005a71; font-size: 1.2rem; font-weight: 600;" aria-current="page" routerLink="/user"> <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" height="40px" width="40px"> Portal</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<br>
